<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Netflix Reviews</title>
        <link type="text/css" href="http://localhost:3000/public/index.css"/>
    </head>
    <body>
        <h1>Table of Contents</h1>
        <p>Below are the categories in which movies or shows are listed in. Please select which genre you want to watch, and then you can easily find a list of movies' or shows' reviews.</p>
        
        <h2>Action</h2>
        <h2>Anime</h2>
        <h2>Black Stories</h2>
        <h2>Children and Family</h2>
        <h2>Crime</h2>
        <h2>Comedies</h2>
        <h2>Dramas</h2>
        <h2>Documentaries</h2>
        <h2>Fantasy</h2>
        <h2>Horror</h2>  
        <h2>International Movies and TV</h2>
        <h2>LGBTQ</h2>
        <h2>Music and Musicals</h2>
        <h2>Netflix 2021 Oscars Collection</h2>      
        <h2>Reality TV</h2>
        <h2>Romance</h2>
        <h2>Sci-Fi</h2>
        <h2>Stand-Up-Comedy</h2>
        <h2>Thrillers</h2>

        <script type="text/javascript" src="http://localhost:3000/public/app.js"></script>
    </body>
</html>